 $clr1: #d0ebeb;
 $clr2: rgb(67, 42, 165);

 $clr1bg: #9da8ca;
 $clr1bg-light: #84ac9f;
 $clr2bg: #7fa9a7;
 $clr2bg-light: #241d08;

 $gray1: rgb(232, 231, 231);
 $gray2: rgb(155, 155, 155);
 $gray3: rgb(68, 67, 67);

 $l: 890px; 